#admin-users {

  .all-user {
    .users-header {
      overflow: auto;

      .search-input {
        float: right;

        .showAll {
          float: left;
          margin-top: 8px;
          margin-right: 10px;
          font-size: 14px;
          line-height: 14px;
        }

        .ant-input-search {
          width: 200px;
          float: right;
        }
      }
    }

    .users-header {
      overflow: auto;
    }
  }

  .admin-invite-code {

    .code-header {
      overflow: auto;
    }
  }
}
